* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    box-sizing: inherit;
}

.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cont {
    width: 90%;
    height: 90%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    background-color: black;
}

.div1 {
    background-color:red;
    grid-area: 1/1/2/3;
    border-bottom: 10px solid black;
}


.div2 {
    background-color: navy;
    grid-area: 2/1/4/2;
}

.div3 {
    background-color: coral;
    border-left: 10px solid black;
}


@media (max-width:770px) {
    .cont {
        grid-template-columns: 100%;
        grid-template-rows: 33.3% 33.3% 33.3%; 
    }

    .div2 {
        grid-area: 2/1/3/3;
    }

    .div3 {
        border-left: 0;
        border-top: 10px solid black;
}

}

.div1, .div2, .div3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.div1 p{
    font-size: 1rem;
    font-family: "bricolage grotesque", sans-serif;
}

.div1 .loader {
     display: flex;
     flex-direction: row;
     gap: 3px;
}

.div1 .loader .dot {
    width:12px;
    height: 12px;
    background-color: black;
    border-radius: 50%;
    animation: load 1.5s ease-in infinite;
}

.loader .dot:nth-child(1) {
    animation-delay: 2s;
}

.loader .dot:nth-child(2) {
    animation-delay: 1s;
}

 @keyframes load {
    0%, 100% {
        transform: scale(0);
        opacity: 0.5;
    }

    50% {
        transform: scale(1);
        opacity: 1;
    }
 }

 .div2 .roll {
    width: 30px;
    height: 30px;
    border: 5px solid rgb(250, 247, 247);
    border-radius: 50%;
   border-top: 5px solid hsl(200, 100%, 50%);;
   animation: spin 1s ease infinite;
 }

 .div2 p {
    font-size: 1rem;
    font-family: manrope;
    color: white;
 }


 @keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
 }


 .div3 .radar {
    width: 35px;
    height: 35px;
    background-color: gold;
    border-radius: 50%;
    animation: glow 1.2s ease-in-out infinite;
 }

 .div3 p {
    font-size: 1rem;
    font-family: "libre franklin", serif;
    color: gold;
 }


 @keyframes glow {
    0% {
        transform: scale(0.3);
        opacity: 0.5;
    }

    50% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0.3);
        opacity: 0.5;
        box-shadow: 0 0 10px 2px gold;
    }
 }